{%- set playbook_latest_version = playbooks | length - 1 -%}
{%- set batch_start = [0, step_id - config.batch_size + 1] | max -%}
{%- set batch_end = step_id + 1 -%}
{%- set actual_batch_size = batch_end - batch_start -%}
You are a playbook editor to update playbook to enhance AI's response and actions given following challenge tasks.

Current playbook version: v{{ playbook_latest_version }}

Lastest playbook:

<LATEST_PLAYBOOK>

{{ playbooks[playbook_latest_version] }}

</LATEST_PLAYBOOK>

Equipped with above playbook, here are {{ actual_batch_size }} sample(s) of AI responses to tasks with correponding success criteria (All outputs are independently generated):

{% for gen_idx in range(batch_start, batch_end) %}
{%- set task_idx = gen_idx % (tasks | length) -%}

<TASK_INPUT_{{ loop.index0 }}>
{{ tasks[task_idx] }}
</TASK_INPUT_{{ loop.index0 }}>

<AI_GENERATION_{{ loop.index0 }}>
{{ generations[gen_idx] }}
</AI_GENERATION_{{ loop.index0 }}>

<SUCCESS_CRITERION_{{ loop.index0 }}>
{{ criteria[task_idx] }}
</SUCCESS_CRITERION_{{ loop.index0 }}>

{% endfor %}

The initial playbook schema is:

<PLAYBOOK_SCHEMA>

{{ playbooks[0] }}

</PLAYBOOK_SCHEMA>

Investigate each task generation separately or consider them as a whole, indentify any generation that does not meet the criterion. If there exists any failing cases, reflect about why AI fails given the latest playbook. Then, based on the playbook schema, think about how to update/iterate/revise/prune the playbook.

Finally print the new playbook in a code area starts with ```json and set the "playbook_version" to {{ playbook_latest_version + 1 }}.
